.footer {
  background: #0b1526;
  color: #cbd5e1;
  padding: 60px 80px;
  font-family: Arial, sans-serif;
}

/* TOP SECTION */
.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.footer-brand {
  max-width: 300px;
}

.footer-brand .logo {
  color: white;
  font-size: 26px;
  width: 120px;
  height: 60px;
  /* margin-bottom: 10px; */
}

.footer-brand p {
  line-height: 1.6;
  color: #94a3b8;
}

/* COLUMNS */
.footer-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-col h4 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}

.footer-col a {
  text-decoration: none;
  color: #94a3b8;
  font-size: 14px;
  transition: 0.3s;
}

.footer-col a:hover {
  color: white;
}

/* BOTTOM */
.footer-bottom {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #1f2a3a;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials span {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #1f2a3a;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.socials span:hover {
  background: #2563eb;
  color: white;
}